* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  padding: 2% 8%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 550px;
}
.active {
  border-bottom: 2px solid yellow;
  padding-bottom: 4px;
}

header {
  width: 100%;
  background-color: #222;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
  align-items: center;
}
.nav-links {
  flex-grow: 1;
  text-align: right;
}
ul li {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
}
ul li a {
  text-decoration: none;
}
nav .fa {
  color: #fff;
  display: none;
}
label {
  margin: 10px 0;
}
input {
  padding: 8px;
}
button#is-traingle-btn {
  margin-top: 10px;
  padding: 9px;
}
button#areaBtn {
  width: 190px;
  padding: 10px;
}
button#hypotenuse-btn {
  margin-top: 10px;
  padding: 10px;
}
p {
  margin: 10px 0;
}
button#submit-answer-btn {
  padding: 10px;
  margin: 10px 0;
}
@media (max-width: 700px) {
  ul li {
    display: block;
    padding: 20px 20px;
  }
  nav .fa {
    color: #fff;
    display: block;
    cursor: pointer;
  }
  .nav-links {
    position: absolute;
    background-color: #4a4a4a;
    height: 100vh;
    width: 200px;

    top: 0;
    right: -200px;
    text-align: left;
  }
  .container {
    max-width: 350px;
  }
}
